*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    list-style: none;
    text-decoration: none;   
   }
   
   .main{
       position: relative;
   }
   
   .nav{
       width:100%;
       height:65px;
       display:flex;
       justify-content: space-around;
       align-items: center;
       background-color: black;
   }
   
   .nav .Mylist ul{
        display: flex;
   }
   
   .nav .Mylist ul li{
       text-transform: uppercase;
       margin: 0 10px;
   }
   
   .nav .Mylist ul li a{
       color:white;
   }
   
   .content h1{
       margin-left: 180px;
       text-align: center;
       font-size: 35px;
   }
   
   .content p{
       text-align: center;
       font-size: 30px;
       line-height: 35px;
       color: lightgrey;
       margin-top: 30px;
       margin-left: 180px;
   }
   
   .content-img{
       background: url(../images/cover.jpg) no-repeat top center;
       background-size: cover;
       width:100%;
       height:700px;
       display:flex;
       justify-content: stretch;
       align-items: center;
   }
   
   .about{
       padding: 5% 0%;
       
   }
   
   .about h1{
       font-size: 40px;
       text-transform: uppercase;
       font-family: cursive;
       color: lightslategrey;
       text-align: center;
   }
   
   .about p{
       margin-left: 180px;
       margin-right: 180px;
       font-size: 20px; 
       text-align: center;
   }
   
   .btn {
       display: block;
       width:150px;
       height:30px;
       border: 1px solid lightslategrey;
       line-height: 30px;
       margin: 15px auto 0;
       text-align: center;
   }
   
   .text-field{
       margin-top: 0;
       background-color: lightgray;
       width:100%;
       height: 300px;
   }
   
   .text-field p{
       margin-top:30px;
       font-size: 30px;
   }
   
   textarea {
       width: 50%;
       height: 200px;
       display: block;
       font-size: 15px;
       margin-top: 25px;
       margin-left: 10px;
       cursor: auto;
   }
   
   .announcements{
       width: 80%;
       margin: 0 auto 0;
       height: 500px;
       background-color: white;
       display:flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   
   .announce-title{
       font-size: 30px;
   }
   
   .latest{
       margin-top: 35px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       border-top:1px solid grey;
   }

   .announcement-1{
    width: 400px;
    height: 300px;
    border:1px solid transparent;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 0;
    box-shadow: 2px 3px 2px #f1f1f1;
    background-color: white;
   }

   .announcement-1 h2{
       font-size: 25px;
   
   }
   .announcement-2{
    width: 400px;
    height: 300px;
    border:2px solid transparent;
    border-radius: 0;
    box-shadow: 2px 3px 2px #f1f1f1;
    background-color: white;
   }

   .search{
       display:flex;
       justify-content: center;
   }
   .search input{
       width:300px;
       height:30px;
   }
   .search #search-btn{
       width:100px;
       height:30px;
   }
   
   .form-title{
       font-size: 25px;
       margin-left: 20px;
       top: 20px;
   }
   
   .announce-btn{
           width: 10%;
           height:35px;
           margin-left: 530px;
           background-color: green;
   }
   
   .web-name{
       font-size: 30px;
       color: white;
   }
   
   
   .reg, .log, .res{
       width:360px;
       height:10 0 0;
       margin:0 auto ;
   }
   .reg-form, .log-form, .res-form{
       position: relative;
       z-index: 1;
       background: white;
       margin-top: 100px;
       padding:45px;
       text-align: center;
       background: blue;
       
   }
   
   .reg-form input, .log-form input, .res-form input{
       outline: 1;
       background: white;
       width:80%;
       padding:5px;
       margin:0 0 10px;
       box-sizing: border-box;
       font-size: 14px;
       top:10%;
   }
   
   .reg-form button, .log-form button, .res-form button{
       text-transform: uppercase;
       background: seagreen;
       outline:0;
       width:80%;
       border:0;
       padding:15px;
       color:white;
       font-size: 14px;
       cursor:pointer;
   }
   
   .reg-form button:hover, .log-form button:hover,
   .reg-form button:active, .log-form button:active{
   
       background: grey;
   }
   
   @media (max-width:720px){
              .nav{
           height: auto;
           flex-direction: column;
   }
            .nav ul{
                flex-direction: column;
                text-align: center;
            }
   
            .nav ul li{
                margin-bottom: 5px;
            }
            .web-name{
                margin-bottom:5px;
            }
            .content h1{
                align-items: center;
                margin:auto;
            }
            .content p{
                align-items: center;
                margin:auto;
            }
            .text-field{
                margin-top: 10px;
                flex-direction: column;
            }
            .text-field .announce-btn{
                width:18%;
                margin-left: 170px;
            }
            .about{
                width:100%;
            }

            .about p{
                margin:auto;
            }

            .announcements{
                width:100%;
                height:600px;
                margin-top: 10px;
                flex-direction: column;
            }
            .latest{
                width:70%; 
            }
   }


   ::placeholder{
       font-size:15px;
       color: lightslategray;
   }